{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Doctors{% endblock %}</title>
</head>
<body>
    {% block content %}
    <h1 class="text-center p-4">Our Doctors</h1>

    <div class="bg-info text-center p-3">
    {% for d in doctors %}
    <div class="card text-center my-3 mx-2" style="width: 18rem; height: 20px; display: inline-block;">
        <img src="{{ d.doc_image.url }}" class="card-img-top" alt="Doctors Image">
        <div class="card-body bg-white mb-2">
          <h4 class="card-title ">Dr.{{ d.doc_name }}</h4>
          <p class="card-text p-0">{{ d.doc_spec }}</p>
          <h6 class="card-text">{{ d.dep_name }} Department</h6>
        </div>
      </div>
    {% endfor %}
  </div>
    
   
    {% endblock %}
    
</body>
</html>